.banner {
  /*display: flex;*/
  width: 100vw;
  /*background-color: rgb(8, 1, 22);*/
  /*background-color: rgb(198, 198, 198);*/
  /*color: rgb(102, 11, 106);*/
  color: #000000;
}

.banner + .banner {
  margin-top: 20vh;
}

.banner:nth-child(even) {
  /*background-color: white !important;*/
}

.banner .title {
  position: absolute;
  /*color: white;*/
  /*background: color(srgb 1 0.8 0.8605);*/
  z-index: 2;
  margin-top: -70px;
  margin-left: 23vw;
  padding: 0px 8px;
  border-radius: 3px;
  border: solid 2px black;
  /*background: black;*/
  /*color: #e0e0d1;*/
  line-height: 1.4em;
}

.banner[data-orientation='right'] .title {
  right: 0;
  margin-left: auto;
  margin-right: 23vw;
}

.banner .banner-image-container {
  width: calc(100vw - 20px);
  margin-left: 10px;
  height: 60vh;
  position: relative;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .banner .banner-image-container {
    margin-left: 160px;
    margin-bottom: 0;
  }
}

.banner .banner-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  left: 10px;
  transition: all 500ms;
}

.banner[data-orientation='right'] .banner-image {
  left: inherit;
  right: 10px;
}

.banner.active .banner-image {
  left: 0;
}

.banner[data-orientation='right'].active .banner-image {
  left: inherit;
  right: 0;
}

.banner-text-container {
  position: relative;
}

.banner .banner-text {
  text-align: center;
  padding: 100px 20px;
  /*background: #c2c2c2;*/
  width: calc(100vw - 20px);
  margin-left: 10px;
  text-align: left;
  border: solid black 2px;
}

.banner p {
  font-size: 24px;
  display: inline-block;
}

.banner nav {
  margin-top: 100px;
  text-align: right;
}

.banner a {
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  font-size: 25px;
}

@media (min-width: 1000px) {
  .banner {
    display: block;
  }

  .banner .banner-image-container {
    width: 60vw;
    margin-left: 160px;
  }

  .banner[data-orientation='right'] .banner-image-container {
    text-align: right;
    margin-left: calc(40vw - 160px);
  }

  .banner[data-orientation='right'] .banner-image-container .banner-image {
    display: inline-block;
    /*margin-left: auto;*/
    /*margin-right: 160px;*/
  }

  .banner .banner-text {
    width: calc(60vw - 40px);
    margin-left: auto;
    margin-right: 160px;
    border-radius: 20px;

    transition: all 150ms;
    transition-delay: 500ms;
    margin-top: calc(10vh - 50px);
    margin-bottom: 150px;
    border: solid rgba(0, 0, 0, 0.2) 2px;
    background: #f7f3f3;
  }

  .banner .banner-text,
  .banner .banner-text a {
    transition: all 1000ms;
    color: #9ba0a7 !important;
  }

  .banner.active .banner-text {
    margin-top: 10vh;
    padding-bottom: 100px;
    border: solid black 2px;
    opacity: 1;
  }

  .banner.active .banner-text,
  .banner.active .banner-text a {
    color: #000000 !important;
  }

  .banner[data-orientation='right'] .banner-text {
    margin-left: 160px;
  }
}
